.contact {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding-left: 5px;
    width: 100%;
}

.contact__title {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1.3px;
    display: flex;
    justify-content: left;
    width: 100%;
}

.contact__socmed {
    display: flex;
    justify-content: left;
    width: 100%;
}

.contact__socmed div {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    padding-left: 10px;
}

.contact__socmed img {
    width: 55px;
    height: 45px;
    margin: 10px 10px 10px 0;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
}

.contact__socmed svg{
    padding: 5px;
}

@media all and (max-width: 1024px) {
    .contact {
        /* margin: 80px 0 60px 0; */
        margin-top: 20px;
    }
}

@media all and (max-width: 768px) {
    .contact {
        /* margin: 0; */
    }
}

@media all and (max-width: 768px) {
    .contact__title {
        font-size: 12px;
    }

    .contact__socmed img {
        width: 50px;
        height: 40px;
    }
    .contact__socmed div {
        padding: 0;
    }
}


