.experience {
    display: flex;
    font-family: 'Noto Sans HK', sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2px;
    height: 150px;
    margin: 55px 0 70px 0;
    
}

.exp-label {
    margin-right: 26px;
}

.jobs {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;      
}

.company-timeline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;    
}


.timeline {
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
}

.role {
    padding: 2px 0;
}