.greetings {
  flex-direction: column;
}

.greetings__hello {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 75px;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 20px;
  width: 400px;
}

.greetings__details {
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  line-height: 2;
  margin: 8px 0;
  width: 400px
}

.wave {
  display: inline-block;
  height: 60px;
  width: 60px;
  cursor: pointer;
  margin-left: 10px;
  object-fit: contain;
}

.wave-onload {
  animation-name: wave-animation;  
  animation-duration: 1s;  
}

@keyframes wave-animation {
  from {
    transform: none;
  }
  15% {
    transform: translate3d(-20%, 0, 0) rotate3d(0, 0, 1, -10deg);
  }
  30% {
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 7deg);
  }
  45% {
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -10deg);
  }
  60% {
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 5deg);
  }
  75% {
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -2deg);
  }
  to {
    transform: none;
  }
}

@media all and (max-width: 1024px) {

  .greetings {
    width: 100%;
  }
  .greetings__hello {
    margin-bottom: 20px;
  }

  .greetings__details {
    width: 85%;
    padding-right: 40px;
    margin-bottom: 20px;
  }
}

@media all and (max-width: 768px) {
  /* .greetings__hello {
    margin-bottom: 10px;
  } */
  .greetings__details {
    width: 450px;
    padding-right: 0;
  }
}


@media all and (max-width: 500px) {
  .greetings__hello {
    font-size: 60px;
  }

  .greetings__details {
    font-size: 12px;
    width: 100%;
  }

  .wave {
    width: 45px;
    height: 45px;
  }
}