.resume {
    align-items: center;
    font-family: 'Noto Sans HK', sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2px;
    margin: 0 0 50px 0;
}

.hrline{
    flex-grow: 1;
}

hr {
    height: 1px;
    background-color:#77889941;
    border: none;
    margin-right: 10px;
}
.righthand {
    display: flex;
    align-items: center;
    cursor: pointer;   
    padding: 10px;
    border-radius: 15px;
    /* -webkit-transition: all .2s ease-in-out; */
    /* transition: all .2s ease-in-out; */
}

.righthand img {
    width: 30px;
    margin-right: 10px;
    object-fit: contain;
}

.righthand:hover {
    transform: translateX(8px);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    color: #44BBA5;
}

@media all and (max-width: 500px) {
    .righthand {
        font-size: 12px;
    }
}