
*,
*::before,
*::after {
    box-sizing: border-box;
}

::selection {
  color: whitesmoke;
  background-color: rgba(119, 136, 153, 0.863);
}

::-moz-selection {
  color: whitesmoke;
  background-color: rgba(119, 136, 153, 0.863);
}

body {
  margin: 0;
  padding: 0;
  background-color: #1a202c;
  color: #ffffffeb;
}

.container {
  display: flex;
}

.grid-container {
  display: grid;
  grid-template-columns: 9.5vh 64.5vh 28vh 83.5vh;
}

.personal-info {
  position: fixed;
  left: 74px;
  width: 31vw;
  padding: 90px 0 0 90px;
}

.professional-info {
  grid-column-start: 4;
  padding-top: 80px;
}
