/* $desktop: 1200px;
$laptop: 1024px;
$tablet: 768px;
$phone: 480px; */

::selection {
  color: whitesmoke;
  background-color: rgba(119, 136, 153, 0.863);
}

::-moz-selection {
  color: whitesmoke;
  background-color: rgba(119, 136, 153, 0.863);
}

body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
}

.grid-container {
  display: grid;
  grid-template-columns: 9.5vh 64.5vh auto auto;
  /* grid-template-columns: 9.5vh 64.5vh 28vh 83.5vh; */
}

.personal-info {
  position: fixed;
  left: 74px;
  width: 31vw;
  padding: 90px 0 0 70px;
}

.professional-info {
  grid-column-start: 4;
  padding: 30px 160px 0 80px;
  /* padding: 90px 160px 0 80px; */
}

/* @media all and (max-width: 1400px) {
  .personal-info {
    padding: 70px 0 0 70px;
  }
} */

@media all and (max-width: 1200px) {
  .personal-info {
    padding: 70px 0 0 20px;
    left: 20px;
  }

  .professional-info {
    padding: 30px 10px 0 10px;
    /* position: relative; */
  }
  
  .grid-container {
    grid-template-columns: 9.5vh 50vh auto auto;
  }
}

@media all and (max-width: 1024px) {
  .grid-container {
    grid-template-columns: auto;
  }

  .personal-info {
    display: block;
    position: relative;
    padding: 50px 0 0 20px;
    width: 100%;
  }

  .professional-info {
    grid-column-start: 1;
    padding: 0 40px 0 40px;
    max-width: 90%;
  }

}
